img {
    width: 100%;
}

body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.h4 {
    font-weight: bold;
}

.card {
    /* legger til skygge for å lage "fremhevende visittkorteffekt" */
    box-shadow: 0 5px 10px 0 rgba(0,0,0,2);
    transition: 0.5s;
    width: 250px;
    float: left;
    margin: 45px 40px 30px 40px; /* <--- shorthand = top, right, bottom, left..*/
    background-color: whitesmoke;
    /* visittkortkode hentet fra https://www.w3schools.com/howto/howto_css_cards.asp og
    omgjort til eget bruk og ønske */
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,2);
    /* lagt til "mouse-over" til visittkortet slik at det skal gi en dypere farge,
slik at det blir en markant endring for å vise at man holder over visittkortet */
}

.container {
    padding: 6px 18px;
    /* lagt til padding på containeren "tekstdelen av visittkortet" for å tydliggjøre teksten */
}

.active {
    background-color: Darkred;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
    border-right:1px solid #bbb;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: white;
    color: black;
}

.footer {
    list-style-type: none;
    position: fixed;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
}

.a1 {
    float: left;
}
.a2 {
    float: right;
}

/* --------------------------------------- Klokkeslett input --------------------------------------- */

